/*
blue = #02547D;
light blue = #0284A8;
turq = #02BEC4;
green = #A9E8DC;
light green = #E1F7E7

*/

body {

}

.Work{
  background: #E1F7E7;
}
.Education{
background: #A9E8DC;
}
header, footer{
  background: #0284A8;
color: #A9E8DC;
}

header h1 h2{
  color:white;
}
a{
  color: lightblue;
}

a:hover {
  text-decoration: none;
}
